/*Light/night mode styles*/
    /* Root element: default (light mode) */
    :root {
      --bg-color: #c5f0a4;          /* Main background color */
      --text-color: #2a2a2a;        /* Main text color */
      --nav-text-color:#324524;     /* Nav text color*/
      --nav-text-color-active: #000;  /*Nav text color active*/
      --text-black-white: #000;       /* Text black white*/
      --text-black-a9e978: #000;     /*tetx black #a9e978*/
      --text-between-animation-1: #004d40;    /*Text between color*/
      --navbar-bg-color: #a9e978;   /* Navbar bg color */
      --button-bg-color: #c5f0a4;   /* Button bg color */
      --button-text-color: #2a2a2a; /* button color */
      --button-bg-color-dark: #2a2a2a;/* Button dark bg color */
      --button-text-color-dark: #c5f0a4;/* button dark color */
      --main-site-text-p-i-bg: rgba(0, 0, 0, 0.2);
      --main-site-text-p-i-box-shadow: rgba(0, 0, 0, 0.25);
      --particle-color-day: #000000; /* Kunduzgi rejim uchun */
      --particle-color-night: #ffffff; /* Tungi rejim uchun */
      --primary-text: #111111;
      --card-bg: #a9e978;
      --icon-color: #333333;
      --navbar-down: #3c3c3c;
    }
  

    /* Dark mode theme */
    [data-theme="dark"] {
      --bg-color: #1e1e1e;          
      --text-color: #c5f0a4; 
      --nav-text-color:#b0b0b0; 
      --nav-text-color-active: #ffffff;  
      --text-black-white: #fff;
      --text-black-a9e978: #a9e978;
      --text-between-animation-1: #004d40;      
      --navbar-bg-color: #111111;  
      --button-bg-color: #2a2a2a;  
      --button-text-color: #C5F0A4; 
      --button-bg-color-dark: #2a2a2a;
      --button-text-color-dark: #c5f0a4;
      --main-site-text-p-i-bg: rgba(0, 0, 0, 0.2);
      --main-site-text-p-i-box-shadow: rgba(0, 0, 0, 0.25);
      --primary-text: #c5f0a4;
      --card-bg: #2a2a2a;
      --icon-color: #a9e978;
      --navbar-down:#a9e978;
    }


/*Navbar and Header*/
.navbar-header-section{
  background-image:url(../media/sitephotos/header-background-light.jpg);
  transition: background-image 0.4s ease, color 0.1s ease-in-out;
  width:100%;
  background-repeat: no-repeat;
  background-size:cover;
}

/* Dark Mode */
[data-theme="dark"] .navbar-header-section{
  background-image:url(../media/sitephotos/header-background-night.jpg);
}

/*Navbar section styles*/
.navbar{
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  z-index:10;
}

.navbar-brand img{
  width:15rem;
}

#magicsite-logo{
  transition: opacity 0.4s ease;
}

.navbar-collapse div{
  cursor: pointer;
}
  /*navbar responsive*/
  @media(max-width:768px){
    .navbar-brand img{
      width:11rem;
    }
  }

  @media(max-width:576px){
    .navbar-brand img{
      width:8rem;
    }
  }

.navbar-nav .nav-item .nav-link  {
  color: var(--nav-text-color)
}

.navbar-nav .nav-item .active  {
  color: var(--nav-text-color-active)
}

.navbar-nav .nav-item .nav-link:hover  {
  color: var(--nav-text-color-active)
}

.navbar-over-phone-number a{
  color: var(--text-black-white)
}
/*Bottom navbar styles */

@media(min-width:576px){
  #small-navbar{
    display: none;
  }
}
@media(max-width:576px){
  .bottom-navbar{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:1.6rem;
    margin-bottom:1.6rem;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(20px);
    border-radius:20px;
    padding-left:0.7rem;
    padding-right:0.7rem;
}
.bottom-nav-item{
  color:var(--navbar-down);
  text-decoration: none;
  padding-top:0.4rem;
  display:flex;
  justify-content: center;
  text-align:center;
}
.bottom-nav-item p, .bottom-nav-item i, .bottom-nav-item code{
  display:inline;
  padding:0;
  color:var(--navbar-down);
  text-decoration: none;

}
}
@media(max-width:379px){
  .bottom-navbar{
      width:90%;
      margin-left:5%;
      margin-right:5%;
      margin-top:1rem;
      margin-bottom:1rem;
      padding-left:0.4rem;
      padding-right:0.4rem;
  }
}
@media(max-width:325px){
  .bottom-navbar{
      width:95%;
      margin-left:2.5%;
      margin-right:2.5%;
      padding-left:0.2rem;
      padding-right:0.2rem;
  }
}

@media(max-width:299px){
  .bottom-nav-item p i{
      font-size:0.8rem;
  }
  .bottom-nav-item p code{
      font-size:0.6rem;
  }
}

/*End bottom navbar */


/*Main section*/
  .main-section, .g766{
    margin:0;
   
  }
  .main-text-box{
    padding:1rem 1.5rem 1rem 1.5rem;
    justify-content:center;
    align-items:center;
  }
  
  .bee-icon{
    position: absolute;
  }
  .bee-icon img{
    width:1.5rem;
    transform: rotate(30deg);
    position:absolute;
    margin-bottom:-0.4rem;
    margin-right:0.3rem;
    animation: fly-bee 4s infinite ease-in-out; 
  }

  .bic3{
    right:0;
  }

  .main-text-buttons{
    margin-top:1rem;
  }
  .main-text-buttons .btn-white{
    margin-left:1rem;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
 
    @keyframes fly-bee {
      0% {
          transform: translate(0, 0) rotate(30deg); /* Boshlanish nuqtasi */
      }
      25% {
          transform: translate(20px, -30px) rotate(60deg); /* Yuqoriga */
      }
      50% {
          transform: translate(50px, 0) rotate(-30deg); /* O'ngga siljish */
      }
      75% {
          transform: translate(30px, 30px) rotate(-60deg); /* Pastga */
      }
      100% {
          transform: translate(0, 0) rotate(30deg); /* Boshlanishga qaytish */
      }
  }
  @media(min-width:576px){
    .main-text-box{
     padding:3rem 3rem 2rem 3rem;
    }
  }


 @media(min-width:968px){
   .main-text-box{
    padding:5rem 6rem 4rem 6rem;
   }
 }

 @media(min-width:1200px){
  .main-text-box{
   padding:9rem 6rem 4rem 6rem;
  }
}

 .main-site-text{
  display:flex;
  margin-right:0.5rem;
}

#d432{
  margin-right:0.7rem;
}


.main-site-text p i{
  background: var(--main-site-text-p-i-bg);
  box-shadow: 0 0 10px var(--main-site-text-p-i-box-shadow);
  backdrop-filter: blur(20px);
  border:1px solid #000;
  padding:0.6rem;
  width:40.52px;
}
.main-site-text p .fa-code{
  border-radius:10px 0 0 0;
}
.main-site-text p .fa-python{
  border-radius:0 0 0 10px;
}

.main-site-text p .fa-laptop{
  border-radius:0 10px 0 0;
}

.main-site-text p .fa-arrow-trend-up{
  border-radius:0 0 10px 0;
}


  .main-section div .main-img .img-box{
    border-radius:40% 30% 40% 30%;
    overflow: hidden;
    width:80%;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:7%;
    margin-right:7%;
    transform:rotate(0deg);
    transition:all 0.4s ease-in-out;
  }
  .main-section div .main-img .img-box img{
    width:100%;
    transition:all 0.2s ease-in-out;
  }

  .main-section div .main-img .img-box:hover{
    transform:rotate(10deg) scale(1.08);
  }

/*End main section*/



/*Second section*/

.second-section{
  background-color: var(--bg-color);
  margin:0;
  transition: background-color 0.4s ease, color 0.4s ease;
  z-index:2;
}


.second-section-img-box{
  border-radius:20% 40% 20% 40%;
  overflow: hidden;
  width:80%;
  margin-top:5%;
  margin-left:7%;
  margin-right:7%;
  transform:rotate(5deg);
  transition:all 0.5s ease-in-out;
}
.second-section-img-box img{
  width:100%
}

.second-section-img-box:hover{
  transform:rotate(-0.5deg) scale(1.06);
}

.second-section-collapse-item-inner div{
  color:var(--text-color);
}


 /* Collapse tashqi va ichki qismlari uchun rang va dizayn */
 .custom-accordion {
  padding:1rem 0.5rem;
  margin-top:0.5rem;
  margin-bottom:0.2rem;
  background-color: var(--bg-color);
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  border:2px solid var(--text-color);
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  color: var(--text-color);
}

.custom-accordion:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.custom-collapse .card-body {
  background-color: var(--bg-color);
  /*border: 2px 0px 0px 0px solid rgba(0, 0, 0, 0.1);*/
  border-radius: 0;
  padding: 15px;
  animation: fadeInSlide 0.4s ease-out;
}

/* Animatsiya: paydo bo'lish va siljish */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Collapse sarlavha linki hover effekti */
.second-section-collapse-item a {
  color:var(--text-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  display:inline-block;
  width:100%;
  height:100%;
}

.second-section-collapse-item a:hover {
  color: var(--text-black-white);
  text-decoration: underline;
}


/*Between animation*/
.text-container_btw {
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Matnni ketma-ket joylashtirish */
.text-slide_btw {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: bold;
  animation: slideText 20s linear infinite;
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Animatsiya uchun asosiy container */
.text-wrapper_btw {
  display: flex;
}

.text-slide_btw .span_1 {
  color: var(--text-between-animation-1);
}

.text-slide_btw .span_1 {
  color: var(--text-black-white);
}

/* Uzluksiz harakat animatsiyasi */
@keyframes slideText {
  0% {
    transform: translateX(0); /* Starter */
  }
  100% {
    transform: translateX(-100%); /* Finish */
  }
}

/*THIRD SECTION*/

.third-section{
  background-color: var(--bg-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}
.third-section-head{
  height:2px;
  background-color:var(--text-black-a9e978);
  position:relative;
}

.third-section-head h3{
  border-radius:0.1px;
  padding:0.3rem 0.6rem;
  border:2px solid var(--text-black-a9e978);
  display:inline-block;
  background-color: var(--bg-color);
  color: var(--text-black-a9e978);
}

.services-section {
  padding: 50px 20px;
}

.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.service-card {
  background-color: var(--card-bg);
  border: none;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.service-icon {
  width: 50px;
  height: 50px;
  /*fill: var(--icon-color);*/
  color: var(--icon-color);
  margin: 0 auto;
  transition: fill 0.3s;
}

.service-title {
  font-size: 1.5rem;
  margin-top: 15px;
  color: var(--primary-text);
}

.service-description {
  font-size: 1rem;
  color: var(--primary-text);
}

@media (max-width: 576px) {
  .service-card {
      padding: 20px;
  }
}

/*END THIRD SECTION*/

/*CONTACT SECTION*/
#contact-section{
  background-color: var(--bg-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}
.contact-section-head{
  height:2px;
  background-color:var(--text-black-a9e978);
  position:relative;
}
.contact-section-head h3{
  border-radius:0.1px;
  padding:0.3rem 0.6rem;
  border:2px solid var(--text-black-a9e978);
  display:inline-block;
  background-color: var(--bg-color);
  color: var(--text-black-a9e978);
}

.contact-info {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow-y:hidden;
  width:100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  justify-content: center;
  height: 100%;
}

.contact-info:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.contact-info a {
  text-decoration: none;
  color: var(--text-color);
}

.contact-info a h5, .contact-info a p, .contact-info a i {
  transition: all 0.3s ease-in-out;
}

.contact-info:hover a h5, .contact-info:hover a p, .contact-info:hover a i{
  transform: scale(1.07);
  color:var(--text-black-a9e978);
}

.contact-info i {
  color:var(--text-color);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact-info h5 {
  margin: 0.5rem 0;
}

.contact-info p {
  margin: 0;
}

.contact-form{
  background-image: url('../media/sitephotos/Contact-us-picture.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size:100% auto;
  background-attachment: fixed;
  padding-top:3rem;
  padding-bottom:3rem;
}


@media(max-width:768px){
  .contact-from{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    background-size:140% 100%;
  }
}

@media(max-width:576px){
  .contact-from{
    padding-top:0rem;
    padding-bottom:0rem;
    background-size:180% 100%;
  }
}

.contact-us-from-control {
  background:transparent;
  color: var(--text-color-white);
  border: unset;
  border-bottom: 2px solid var(--text-color);
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

.contact-us-from-control:focus {
  box-shadow: none;
  background: transparent;
  border:unset;
  color:var(--text-black-white);
  border-bottom: 3px solid var(--text-color);
}

form textarea {
  resize: none;
}

/*END CONTACT SECTION*/

/*footer section*/
.footer-section{
  background-color: #000;
  z-index:2;
}






